/* App.css */
.App {

  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  z-index: 2;
 
}

#firefly-particles {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.ImageProcessor {
  display: flex;
  align-items: center;
  justify-content: center;
  
  z-index: 2;
}
